@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>

<address>
    Pelmorex Corp. Headquarters &<br />
    The Weather Network Media Centre<br />
    <br />
    2655 Bristol Circle, <br />
    Oakville, Ontario L6H 7W1 <br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:diadteam@pelmorex.com">diadteam@pelmorex.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:diadteam@pelmorex.com">diadteam@pelmorex.com</a>
</address>