.box {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.skibox {
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50em;
}

.applogobox {
    vertical-align: middle;
    text-align: center;
    margin-top: 5%;
    margin-bottom:20%;
}


.tdtext {
    vertical-align: middle;
    font-size: 18px;
}

#logo {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 5%;
}

#applogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 20%;
    height: 20%;
}

#weatherIcon {
    width: 30%;
    height: 30%;
}

#searchbarHolder {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 0.5px 0.5px;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

